<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[兔子]</key>
	<string>1.png</string>
	<key>[熊猫]</key>
	<string>2.png</string>
	<key>[给力]</key>
	<string>3.png</string>
	<key>[嘻嘻]</key>
	<string>4.png</string>
	<key>[哈哈]</key>
	<string>5.png</string>
	<key>[爱你]</key>
	<string>6.png</string>
	<key>[怒]</key>
	<string>7.png</string>
	<key>[汗]</key>
	<string>8.png</string>
	<key>[呵呵]</key>
	<string>9.png</string>
	<key>[神马]</key>
	<string>10.png</string>
	<key>[浮云]</key>
	<string>11.png</string>
	<key>[威武]</key>
	<string>12.png</string>
	<key>[晕]</key>
	<string>13.png</string>
	<key>[泪]</key>
	<string>14.png</string>
	<key>[馋嘴]</key>
	<string>15.png</string>
	<key>[睡觉]</key>
	<string>16.png</string>
	<key>[钱]</key>
	<string>17.png</string>
	<key>[偷笑]</key>
	<string>18.png</string>
	<key>[微风]</key>
	<string>19.png</string>
	<key>[围观]</key>
	<string>20.png</string>
	<key>[织]</key>
	<string>21.png</string>
	<key>[抓狂]</key>
	<string>22.png</string>
	<key>[哼]</key>
	<string>23.png</string>
	<key>[可爱]</key>
	<string>24.png</string>
	<key>[酷]</key>
	<string>25.png</string>
	<key>[衰]</key>
	<string>26.png</string>
	<key>[吃惊]</key>
	<string>27.png</string>
	<key>[闭嘴]</key>
	<string>28.png</string>
	<key>[鄙视]</key>
	<string>29.png</string>
	<key>[挖鼻屎]</key>
	<string>30.png</string>
	<key>[可怜]</key>
	<string>31.png</string>
	<key>[悲伤]</key>
	<string>32.png</string>
	<key>[顶]</key>
	<string>33.gif</string>
	<key>[亲亲]</key>
	<string>34.png</string>
	<key>[生病]</key>
	<string>35.png</string>
	<key>[左哼哼]</key>
	<string>36.png</string>
	<key>[花心]</key>
	<string>37.png</string>
	<key>[鼓掌]</key>
	<string>38.png</string>
	<key>[亲一口]</key>
	<string>39.gif</string>
	<key>[疑问]</key>
	<string>40.png</string>
	<key>[做鬼脸]</key>
	<string>41.png</string>
	<key>[害羞]</key>
	<string>42.png</string>
	<key>[右哼哼]</key>
	<string>43.png</string>
	<key>[嘘]</key>
	<string>44.png</string>
	<key>[不要]</key>
	<string>45.png</string>
	<key>[思考]</key>
	<string>46.png</string>
	<key>[委屈]</key>
	<string>47.png</string>
	<key>[吐]</key>
	<string>48.png</string>
	<key>[懒得理你]</key>
	<string>49.png</string>
	<key>[怒骂]</key>
	<string>50.png</string>
	<key>[太开心]</key>
	<string>51.png</string>
	<key>[good]</key>
	<string>52.png</string>
	<key>[弱]</key>
	<string>53.png</string>
	<key>[ok]</key>
	<string>54.png</string>
	<key>[orz]</key>
	<string>55.gif</string>
	<key>[爱心传递]</key>
	<string>56.png</string>
	<key>[奥特曼]</key>
	<string>57.png</string>
	<key>[来]</key>
	<string>58.png</string>
	<key>[耶]</key>
	<string>59.png</string>
	<key>[心]</key>
	<string>60.png</string>
	<key>[最差]</key>
	<string>61.gif</string>
	<key>[拳头]</key>
	<string>62.gif</string>
	<key>[haha]</key>
	<string>63.gif</string>
	<key>[实习]</key>
	<string>64.gif</string>
	<key>[帅]</key>
	<string>65.png</string>
	<key>[赞]</key>
	<string>66.png</string>
	<key>[伤心]</key>
	<string>67.png</string>
	<key>[握手]</key>
	<string>68.png</string>
	<key>[猪头]</key>
	<string>69.png</string>
	<key>[拜拜]</key>
	<string>70.gif</string>
	<key>[失望]</key>
	<string>71.gif</string>
	<key>[书呆子]</key>
	<string>72.gif</string>
	<key>[相机]</key>
	<string>73.png</string>
	<key>[落叶]</key>
	<string>74.png</string>
	<key>[咖啡]</key>
	<string>75.png</string>
	<key>[话筒]</key>
	<string>76.png</string>
	<key>[月亮]</key>
	<string>77.png</string>
	<key>[困]</key>
	<string>78.png</string>
	<key>[黑线]</key>
	<string>79.png</string>
	<key>[感冒]</key>
	<string>80.gif</string>
	<key>[蛋糕]</key>
	<string>81.png</string>
	<key>[围脖]</key>
	<string>82.png</string>
	<key>[手套]</key>
	<string>83.png</string>
	<key>[太阳]</key>
	<string>84.gif</string>
	<key>[干杯]</key>
	<string>85.png</string>
	<key>[萌]</key>
	<string>86.png</string>
	<key>[花]</key>
	<string>87.png</string>
	<key>[足球]</key>
	<string>88.png</string>
	<key>[雪花]</key>
	<string>89.png</string>
	<key>[雪人]</key>
	<string>90.png</string>
	<key>[温暖帽子]</key>
	<string>91.png</string>
	<key>[礼物]</key>
	<string>92.png</string>
	<key>[互粉]</key>
	<string>93.png</string>
	<key>[蜡烛]</key>
	<string>94.png</string>
	<key>[音乐]</key>
	<string>95.gif</string>
	<key>[电影]</key>
	<string>96.gif</string>
	<key>[手机]</key>
	<string>97.gif</string>
	<key>[自行车]</key>
	<string>98.gif</string>
	<key>[下雨]</key>
	<string>99.gif</string>
	<key>[bed凌乱]</key>
	<string>100.gif</string>
	<key>[绿丝带]</key>
	<string>101.png</string>
	<key>[钟]</key>
	<string>102.png</string>
	<key>[囧]</key>
	<string>103.png</string>
</dict>
</plist>
